body {
  max-width: 320px;
  margin: auto;
  background: #252245;
  font-family: helvetica; 
}

img {
  display: block;
  max-width: 75%;
}

.chat-container {
  max-width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-box {
  margin-bottom: 10px;
  max-width: 75%;
  margin: 0 15px 25px;
}

.message-box .message-content {
  background: blue;
  padding: 10px;
  margin-bottom: 0;
}

.icone-author {
  margin: 5px 0 0 0;
  height: 40px;
}

.message-box-astronaute .message-content {
  background: #d0656f;
  padding: 10px;
  border-radius: 10px 0 10px 10px;
}

.message-box-astronaute {
  align-self: flex-start;
  text-align: right;
}

.message-box-amie{
  align-self: flex-end;
  text-align: right;
}

.message-box-amie .message-content {
  background: #539ad1;
  border-radius: 0 10px 10px 10px;
}

h1 {
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: white;
}

.chat-form {
  background: #333;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.date{
  display:flex;
  align-self: center;
  color:white;
}

.icone-author .message-box-amie{
  display:flex;
  align-items: flex-end;
}

.icone{
  height: 40px;
}

.titel-chatbox{
  display:flex;
  align-items:center;
  align-self: center;
  background: #2b2f5c;
  padding: 10px;
}