body {
  max-width: 320px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background: #403a7d;
}

img {
  max-width: 75%;
  margin: 0 15px 0 15px;
  border-radius: 10px;
}

.chat-container {
  background: #252245;
  max-width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 0 0 5px #3333;
}

.titel-chatbox {
  display:flex;
  width: 100%;
  align-items:center;
  align-self: center;
  background: #2b2f5c;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  justify-content: space-between;
  top: 0;
}

.message-box {
  max-width: 75%;
  margin: 0 15px 25px;
}

.message-box .message-content {
  background: blue;
  padding: 10px;
  margin-bottom: 0;
}

.icone-author {
  margin: 5px 0 0 0;
  height: 40px;
}

.message-box-astronaute .message-content {
  background: #d0656f;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  text-align: start;
}

.message-box-astronaute {
  align-self: flex-start;
  text-align: right;
}

.message-box-amie {
  align-self: flex-end;
  text-align: right;
}

.message-box-amie .message-content {
  background: #539ad1;
  border-radius: 10px 0 10px 10px;
}

h1 {
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 25px;
  padding: 10 5px 10px 10px;
  color: white;
}

.chat-form {
  background: #1d1728;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: sticky;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  bottom: 0;
}

.message-box-astronaute .icone-author {
  display:flex;
  align-content: flex-start;
}

.icone {
  height: 25px;
}

.date{
  display:flex;
  align-self: center;
  color:white;
}

.text-cartouche {
  display:flex;
  width :100%;
  align-items: center
}

.line-left {
  flex-grow: 1;
  margin: 5px;
}

.line-right {
  flex-grow: 1;
  margin: 7px;
}